
footer
  .container
    .row
      .col-md-8.col-md-offset-2

        .footer-search
          input(type='text' placeholder='Искать товар по названию').footer-search__input
          button.footer-search__button.search-icon Найти
        .exemple Например: шиномонтажный станок Nordberg 1830


    nav.navigation-footer
      .row
        .col-md-4.col-md-offset-2
          .navigation-footer__item
            h3.navigation-footer__title КАТАЛОГ ОБОРУДОВАНИЯ

            ul.navigation-footer__list
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Шиномонтажное оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Подъемное и другое гидравлическое оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Общегаражное оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Моечное оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Диагностическое оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Сварочное оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Оборудование для кузовного ремонта
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Окрасочное оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Профессиональный инструмент и мебель
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Стенды «развал-схождения»
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Грузовое оборудование
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Компресcоры
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Электростанции
        .col-md-2
          .navigation-footer__item
            h3.navigation-footer__title О КОМПАНИИ

            ul.navigation-footer__list
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') О компании
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Бренды
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Доставка
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Информация
              li.navigation-footer__list-item
                a.navigation-footer__link(href='#') Отзывы покупателей
        .col-md-2
          .navigation-footer__item
            h3.navigation-footer__title Контакты

            .navigation-footer__contacts
              .navigation-footer__contacts-title Бесплатный звонок по России
              .navigation-footer__contacts-email E-mail: 88007753106@mail.ru
              .navigation-footer__contacts-phone 8-800-775-3106
            .navigation-footer__contacts
              .navigation-footer__contacts-title Скворцов Игорь Игоревич
              .navigation-footer__contacts-email E-mail: igor.s@centr-to.ru
              .navigation-footer__contacts-phone 8-913-070-5566
            .navigation-footer__contacts
              .navigation-footer__contacts-title Артеев Артур Семенович
              .navigation-footer__contacts-email E-mail: artur.a@centr-to.ru
              .navigation-footer__contacts-phone 8-913-070-0066
            .navigation-footer__contacts
              .navigation-footer__contacts-title Кувшинов Алексей Александрович
              .navigation-footer__contacts-email E-mail: aleksey.k@centr-to.ru
              .navigation-footer__contacts-phone 8-913-070-0807

    .footer-info
      .row
        .col-md-2.col-md-offset-2
          .logo-white
            img(src="../images/logo-white.png", alt="logo")

          address.footer-info__docs
            | ИНН 234242343252435 ОГРН 234121312341234 Юридический адрес:
            | г. Кемерово, ул. Ленина 131

        .col-md-6
          p.footer-info__desc.
            Все материалы, размещенные на сайте являются собственностью компании "Центр технического оборудования" и защищена законом. Перепечатка, копирование, воспроизведение и распространение в любом объеме информации, размещенной на сайте, возможна только с письменного согласия ООО "Центр технического оборудования".
          p.footer-info__desc.
            Информация на данном интернет-сайте носит исключительно информационный (ознакомительный) характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Для получения исчерпывающей




script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
